#root{
    position: relative;
    width: 100%;
    height: 100%;
    color: #333; 
    font-size: 28px; 
    overflow: hidden;
    background-color: #ECF0F2;
}


.main-view,.view{
	position: absolute;
	height: 100%;
	width: 100%;
    overflow: hidden;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-backface-visibility: none;
}


.page-view{
	position: relative;
	overflow-x:hidden;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.page-view-inner{
    height: calc(100% + 1px);
}